@charset "UTF-8";

/* Projeto feito em Mobile Firth */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor1: #1B0DDB;
    --cor2: #4B6FDB;
}

body, html{
    width: 96vw;
    height: 100vh;
}

body{
    position: relative;
    background: linear-gradient(to top, var(--cor1), var(--cor2)) fixed; 
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.471);
    width: 90%;
    height: 70%;
    overflow: hidden;
}

div#imagem{
    margin: -10px;
    margin-bottom: 30px;
    display: block;
    background: url('../imagens/padroes.jpg') no-repeat left center;
    background-size: cover;
    width: 105.3%;
    height: 40%;
}

div.campo{
    margin-top: 20px;
}
div.campo > input{
    margin-bottom: 20px;
    padding-inline: 30px;
    padding-block: 5px;
}

input#submit, button{
    background-color: #6b62e4;
    color: #fff;
    border: none;
    padding-inline: 10px;
    padding-block: 5px;
    width: 90%;
}

span.material-icons{
    color: white;
    background-color: black;
    margin-right: -5px;
    
}